@import "mixins.less";

// Edicoes Anteriores
.page_issue_archive .issues_archive>li {
  .background-box-shadow();
  margin: 0 0 30px 30px;
}

.page_issue_archive > .issues_archive {
    margin-right: 0;
}

// Arquivo -> Edição Selecionada
.page_issue>.obj_issue_toc {
  .background-box-shadow();
  padding: 30px;
}


