// cabeçalho
.pkp_structure_head {
    background-color: #000000;
    //background-image: url(https://zephyrus.nied.unicamp.br/revistanied/public/tsc_bg-3b.jpg);
    background-image: url("../../../../../paginas/images/fundo.png");
    background-size: 870px 190px;
    background-repeat: no-repeat;
    background-position: bottom right;
}
