.pkp_structure_head {
    background-color: #1e6292;
    border-bottom: 1px solid #ddd;
    background-color: #000000;
    border-bottom: 0px solid #2a5a87;
    padding-bottom: 0px;
    background-image: url(../images/tsc_bg-3b.jpg);
    background-repeat: no-repeat;
    background-position: top left;
}
