@import "about.less";
@import "announcement.less";
@import "archive.less";
@import "body.less";
@import "bootstrap-grid.less";
@import "breadcrumbs.less";
@import "forms.less";
@import "header.less";
@import "mixins.less";
@import "remove-borders.less";

// Pagina Inicial

// muda a cor do fundo das páginas
@bg: #f6f8fa;
@grey-color: #D8D8D8;
@img-width: 100px;
@img-height: 100px;

body {
    padding-bottom: 0px;
}

.row:before, .row:after {
  content: " ";
  display: inline-block !important;
}

// Retira o padding dos paineis
#pkp_content_main {
    padding-left: 0px;
    padding-right: 0px;
}

// Artigo dentro da revista
.page_article > article.obj_article_details {
    .background-box-shadow();
    padding: 30px;
}

.pkp_page_index .cmp_announcements > .obj_announcement_summary {
    width: 100%;
    padding: 0;
}

.pkp_page_index .cmp_announcements h2 {
    position: initial !important;
    left: 0;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.pkp_page_index .pkp_structure_main h2, .pkp_page_index .cmp_announcements h2 {
    font-size: 24px;
}

// Pagina Inicial - Conteudo Adicional
.pkp_page_index .additional_content {
    .background-box-shadow();
    border-top: 10px solid #007ab2;
    padding-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
}

// Pagina Inicial - Equipe Editorial
.pkp_page_index .editorial_team {
    .background-box-shadow();
    padding: 10px 30px;
    margin-left: 0;
    margin-right: 0;
}

.pkp_page_index .editorial_team table img {
    .image-size(@img-width, @img-height);
    object-fit: cover;
}


// Pagina Inicial - Secao Noticias
.page_index_journal .cmp_announcements {
    .background-box-shadow();
    border-top: 10px solid #1999f2;
    border-radius: 0.25rem;
}

.obj_announcement_summary .summary {
    word-break: break-word;
}

// Pagina Inicial - Secao Edicao Atual
.page_index_journal .current_issue {
    border-top: 10px solid #501384;
    margin-left: 0;
    margin-right: 0;
    .background-box-shadow();
}

.obj_issue_toc .sections .section, .more article.obj_announcement_summary {
    border-top: 1px solid @grey-color;
    padding-bottom: 0px;
}

.page_index_journal .current_issue .obj_issue_toc .sections .section:last-child {
    border-bottom: 1px solid @grey-color;
    padding-bottom: 30px;
}

// Botao "Ver Todas as Edicoes"
.pkp_page_index .current_issue .read_more {
    margin-top: 30px;
    padding: 20px 40px 20px 0;
    color: #333;
    font-size: 18px;
}

.pkp_page_index .current_issue .read_more:after {
    top: 22px;
}

.current_issue > a.read_more {
    display: flex !important;
    justify-content: flex-end;
}

.col {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

#pkp_content_footer {
  margin-top: 60px;
}

// Media Queries
@media (min-width: 480px) {
  .current_issue {
    margin-left: -20px;
    margin-right: -20px;
  }
}

@media (min-width: 768px) {
    .obj_issue_toc .section {
        margin: 30px -30px;
    }
}

@media (min-width: 992px) {
    .current_issue {
      margin: 30px -30px;
      padding: 1px 30px 20px 30px;
      .background-box-shadow();
    }

    .pkp_page_index .pkp_structure_content {
      padding-top: 0px;
    }
}