// Mixins

.background-box-shadow() {
    background: #fff;
    box-shadow: 0 0.15em 0.35em 0 rgba(0, 0, 0, 0.133);
}

.padding-section() {
    padding: 1px 30px 30px;
}

.remove-section-space() {
    margin-bottom: -30px;
}